<section class="about-show">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="page-content">
    This is the about page, it contains information about us.
  </div>

</section> 
